.hero {
  display: flex;
  align-items: center;
  padding: 13.2rem 12.7rem;
  justify-content: center;
  flex-direction: column;
  position: relative;
  h1 {
    font-weight: 800;
    font-size: 80px;
    line-height: 140%;
    text-align: center;
    max-width: 116.7rem;
    font-weight: 900;
    font-family: $font-neue-bold;
    margin: 3.1rem 0rem;
    color: $col-neutral-900;
  }
  h3 {
    font-weight: 500;
    font-size: 3rem;
    line-height: 5.6rem;
    text-align: center;
    color: $col-neutral-500;
    max-width: 137.5rem;
    margin-bottom: 3.1rem;
  }
  &_btns {
    display: flex;
    align-items: center;
    justify-content: center;
    button {
      &:first-child {
        margin-right: 3rem;
      }
    }
  }
  &_deco {
    &_rocket {
      position: absolute;
      left: 19rem;
      bottom: 0;
    }
    &_bulb {
      position: absolute;
      right: 15rem;
      bottom: 0;
    }
    &_purple {
      position: absolute;
      left: 0;
      bottom: 0;
      height: 55.2rem;
      width: 55.2rem;
      border-radius: 50%;
      transform: translateX(-20%);
    }
    &_success {
      position: absolute;
      right: 0;
      bottom: 0;
      height: 55.2rem;
      width: 55.2rem;
      border-radius: 50%;
      transform: translate(10%, 50%);
    }
  }
}
