.sidebar {
  z-index: 6;
  @include screenMax("mobile") {
    margin-top: 7rem;
  }
  h4 {
    font-weight: 600;
    font-size: 2.8rem;
    line-height: 3.4rem;
    color: $col-neutral-700;
    font-family: $font-founders-regular;
    margin-bottom: 3.5rem;

    @include screenMax("mobile") {
      display: none;
    }
  }
  &_links {
    @include screenMax("mobile") {
      position: absolute;
      left: 0;
    }

    > div {
      display: flex;
      align-items: center;
      padding: 1rem 0.9rem;
      padding-right: 3.9rem;
      margin-bottom: 1rem;
      border-radius: 0.6rem;
      width: auto;
      cursor: pointer;
      transition: all 0.6s;
      position: relative;
      overflow: hidden;
      @include screenMax("mobile") {
        padding-right: 0.9rem;
        width: 4.5rem;
      }

      p {
        font-weight: 500;
        font-size: 1.8rem;
        line-height: 2.2rem;
        color: rgba(21, 20, 19, 0.5);
        margin-left: 1.6rem;
        font-family: $font-founders-medium;
        margin-bottom: -0.6rem;
        white-space: nowrap;
      }
      &:hover {
        @include screenMax("mobile") {
          width: auto !important;
          transition: all 0.5s;
          background-color: $col-primary-50;
        }
      }
      svg {
        min-width: 2.4rem;
      }
      svg path {
        fill: $col-neutral-700 !important;
      }
      &[active-tab="true"] {
        background-color: $col-primary-50;
        p {
          color: $col-primary-800;
        }
        svg path {
          fill: $col-primary-900 !important;
        }
      }
    }
  }
}
