.blog_container {
  position: relative;
  max-width: 121.524rem;
  margin-left: auto;
  @include screenMax("mobile") {
    padding-top: 7rem;
  }
  &_title {
    display: flex;
    align-items: center;
    margin-bottom: 3.1rem;
    @include screenMax("mobile") {
      position: absolute;
      top: 0;
      left: -6rem;
    }
    > div {
      height: 3.9rem;
      width: 3.9rem;
      object-fit: contain;
      margin-right: 1rem;
    }
    h5 {
      font-weight: 700;
      font-size: 2.2rem;
      line-height: 2.1rem;
      font-family: $font-aeonik-regular;
      color: #6f7785;
    }
  }
  &_grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 4.7rem;
    @include screenMax("tablet") {
      grid-gap: 2.7rem;
    }
    @include screenMax("mobile") {
      grid-template-columns: 1fr;
    }
  }
}
