@font-face {
  font-family: "Neue-light";
  src: url(/fonts/neuemachina/NeueMachina-Light.otf) format("truetype");
  font-style: normal;
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "Neue-regular";
  src: url(/fonts/neuemachina/NeueMachina-Regular.otf) format("truetype");
  font-style: normal;
  font-weight: 400;
  font-named-instance: "Regular";
  font-display: swap;
}
@font-face {
  font-family: "Neue-bold";
  src: url(/fonts/neuemachina/NeueMachina-Ultrabold.otf) format("truetype");
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: "founders-light";
  src: url(/fonts/founders/FoundersGrotesk-Light.otf) format("truetype");
  font-style: normal;
  font-weight: 300;
  font-display: swap;
}
@font-face {
  font-family: "founders-light-italic";
  src: url(/fonts/founders/FoundersGrotesk-LightItalic.otf) format("truetype");
  font-style: italic;
  font-weight: 300;
  font-display: swap;
}
@font-face {
  font-family: "founders-regular";
  src: url(/fonts/founders/FoundersGrotesk-Regular.otf) format("truetype");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "founders-regular-italic";
  src: url(/fonts/founders/FoundersGrotesk-RegularItalic.otf) format("truetype");
  font-style: italic;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "founders-medium";
  src: url(/fonts/founders/FoundersGrotesk-Medium.otf) format("truetype");
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: "founders-medium-italic";
  src: url(/fonts/founders/FoundersGrotesk-MediumItalic.otf) format("truetype");
  font-style: italic;
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: "founders-semibold";
  src: url(/fonts/founders/FoundersGrotesk-Semibold.otf) format("truetype");
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: "founders-semibold-italic";
  src: url(/fonts/founders/FoundersGrotesk-SemiboldItalic.otf)
    format("truetype");
  font-style: italic;
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: "founders-bold";
  src: url(/fonts/founders/FoundersGrotesk-Bold.otf) format("truetype");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: "founders-bold-italic";
  src: url(/fonts/founders/FoundersGrotesk-BoldItalic.otf) format("truetype");
  font-style: italic;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "aeonik-light";
  src: url(/fonts/aeonik/AeonikTRIAL-Light.otf) format("truetype");
  font-style: normal;
  font-weight: 300;
  font-display: swap;
}
@font-face {
  font-family: "aeonik-light-italic";
  src: url(/fonts/aeonik/AeonikTRIAL-LightItalic.otf) format("truetype");
  font-style: italic;
  font-weight: 300;
  font-display: swap;
}
@font-face {
  font-family: "aeonik-regular";
  src: url(/fonts/aeonik/AeonikTRIAL-Regular.otf) format("truetype");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "aeonik-regular-italic";
  src: url(/fonts/aeonik/AeonikTRIAL-RegularItalic.otf) format("truetype");
  font-style: italic;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "aeonik-bold";
  src: url(/fonts/aeonik/AeonikTRIAL-Bold.otf) format("truetype");
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: "aeonik-bold-italic";
  src: url(/fonts/aeonik/AeonikTRIAL-BoldItalic.otf) format("truetype");
  font-style: italic;
  font-weight: 600;
  font-display: swap;
}
